.about-navbar {
    width: 100vh;
}

.about-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #007bff;
    color: white;
    padding: 15px 0;
}

.about-section {
    padding-top: 100px;
}