RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^anasayfa$ /index.html [L]
RewriteRule ^hakkinda$ /about.html [L]
RewriteRule ^kesfet$ /details.html [L]
RewriteRule ^iletisim$ /contact.html [L]
